.game {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.game-map {
    flex: 1;
    background-color: #000;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: flex-end;
    background-color: var(--bg-secondary);
}

.header .btn {
    margin-left: 10px;
}

.game-id {
    padding: 10px 0;
}
