.connect-form {
    margin-bottom: 20px;
}

.connect-form input {
    border: none;
    background-color: var(--bg-secondary);
    padding: 10px 15px;
    border-radius: 4px 0 0 4px;
}

.connect-form input:focus {
    outline: none;
}

.connect-form button {
    color: var(--text-success);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px 15px;
    background-color: var(--bg-success);
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.connect-form button:hover {
    background-color: var(--bg-success-dark);
}

.connect-form button:active {
    background-color: var(--bg-success-darker);
}

.connect-form button:focus {
    outline: none;
}
