.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-primary);
    border-radius: 8px;
    padding: 20px;
}

.heading {
    margin: 0;
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.close-btn {
    color: var(--text-default);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: var(--bg-default);
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.close-btn:hover {
    background-color: var(--bg-default-dark);
}

.close-btn:active {
    background-color: var(--bg-default-darker);
}

.close-btn:focus {
    outline: none;
}
