:root {
    font-size: 16px;
    --primary-color: #000;
    --secondary-color: #777;
    --bg-primary: #fff;
    --bg-secondary: #ddd;
    --text-success: #eee;
    --bg-success: #090;
    --bg-success-dark: #070;
    --bg-success-darker: #050;
    --text-default: #fff;
    --bg-default: #33d;
    --bg-default-dark: #22c;
    --bg-default-darker: #11b;
    --text-error: #fff;
    --bg-disabled: #999;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}